html, body, #root {
  height: 100%;
  width: 100%;
}

.app{
  display: flex;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.screen {
  flex: 1;
  border: 1px solid red;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  width: 100%;
  max-width: 768px;
}

.score-row {
  height: fit-content;
  padding: 10px;
  text-align: center;
  border: 1px solid green;
  border-radius: 4px;
  color: green;
  width: 30%;
}

.head {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  transition: all linear;
}

#food {
  position: absolute;
  background: green;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 50px;
}

.game-over, .start-game {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  color: red;
}

.game-over button {
  background-color: white;
  border-radius: 4px;
  font-size: medium;
  color: red;
}

.start-game button {
  background-color: white;
  border-radius: 4px;
  font-size: medium;
  color: green;
}

