html, body, #root {
  height: 100%;
  width: 100%;
}

.app{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.screen {
  flex: 1;
  border: 1px solid black;
  margin: 10px 50px;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  width: 50%;
}

.score-row {
  height: fit-content;
  padding: 10px;
  text-align: center;
  border: 1px solid green;
  color: green;
  width: 30%;
}

.head {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: red;
  transition: all linear;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 50px;
}

.game-over {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

